<% if (!user) { %>
  <form class="flex-column" id="signin" name="signin" action="signin" method="POST">
    <% if (errors && errors.length) { %>
      <ul class="errors">
        <% errors.forEach(error => { %>
          <li><%= error %></li>
        <% }) %>
      </ul>
    <% } %>      
    <input type="text" name="username" placeholder="Username" required value="admin">
    <input type="password" name="password" placeholder="Password" required value="admin123">
    <button>Sign in</button>
  </form>
  <p class="cta">Not a member? <a href="/signup">Sign up</a></p>  
<% } %>

