<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=.8">
  <meta name="description" content="Thanks for using app-starter!">	  
  <title><%= title %></title>
</head>
<body>
  <script src="/public/dist/web.bundle.js"></script>  
  <% include ./partials/header %>
  <div class="container">
    <%- content %>
  </div>
  <% include ./partials/footer %>  
</body>
</html>